/* Add this CSS to your existing styles.css file */

/* Search bar styling */
body{
    position: relative;
    width: 85%;
    margin: 0 auto;
    background-color: #f8fafc;
    color: #000000;
}
#searchInput {
     
  position: absolute;
  top: 10px;
  left:1025px;

    padding: 10px;
    margin: 10px;
    width: 250px;
    border: 1px solid rgb(139, 137, 137);
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 14px;
    transition: border-color 0.3s;
}

h1{
     /* color: #333333; */
     color: rgb(4, 4, 86); 
    font-weight: bolder;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#searchInput:focus {
    border-color: #239ae9;
    color: black;
}

/* Table styling (additional styles) */


table {

    width: 100%;
    border-collapse: collapse;
    font-family: serif;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}


th,
td {
    padding: 12px 12px;
    text-align: center;
    font-weight: 200;
    /* border-bottom: 1px solid #ddd;
    border: 1px solid rgb(112, 110, 110); */
}

th{
    font-weight: 900;
    font-size: 20px;
}

td{
    font-size: 16.5px;
}

thead {
    background-color: #239ae9;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
    font-weight: bold;
    /* Color for odd rows */
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
    font-weight: bold;
     
    /* Color for even rows */
}

tbody tr:hover {
    background-color: #76c2f6;
    color: white;
   
}

/* Responsive design */
@media (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tbody td {
        display: block;
        text-align: center;
    }

    table tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
}